<p>Bienvenue {{firstName}} !</p>
<p>Nous sommes ravis de vous accueillir dans notre communauté d'apprentissage.</p>
<p>Pour finaliser la création de votre compte, rendez-vous sur ce lien:</p>
<a href='{{url}}'>Cliquez ici</a>